<header *ngIf="router.url === '/'">
    <div class="header">
        <img class="logo" src="../../assets/logo/{{this.logo}}" alt="logo">
        <h2 > Web Geo Portal</h2>
    </div>
</header>

<header *ngIf="router.url === '/register'">
    <div class="header">
        <img class="logo" src="../../assets/Images/logo.png" alt="logo">
    </div>
</header>


<header *ngIf="router.url === '/user-management'">
    <div class="header">
        <img class="logo" src="../../assets/Images/logo.png" alt="logo">
        <h2>Admin Panel</h2>
        <button  id="logout_btn" type="button" (click)="logoutUser()" >Logout</button>
        <br>
        <a style="margin-left:20px; margin-top: 20px;" [routerLink]="['/base-map']"><p>Home</p></a>
    </div>
</header>
