<div>
    <ul>
        <li (click)="userForm()" >Add User </li>
        <li (click)="userDetail()">View User </li>
        <li (click)="homesSetting()">Home Settings</li>
    </ul>
</div>

<div *ngIf="userFormHide" id="add_user">
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">
            <mat-toolbar class="Heading" fxLayoutAlign="center center">Add User</mat-toolbar>
                <form [formGroup]="adduserForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="addUser()"  class="Login-form">
                    <mat-form-field  >
                        <input matInput placeholder="First Name" type="text" formControlName="first_name">
                        <mat-error *ngIf="!adduserForm.controls['first_name'].valid">
                          First name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field  >
                        <input matInput placeholder="Last Name" type="text" formControlName="last_name">
                        <mat-error *ngIf="!adduserForm.controls['last_name'].valid">
                          Last name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field  >
                        <input matInput placeholder="Email" type="email" formControlName="email" [email]="true" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                        <mat-error *ngIf="!adduserForm.controls['email'].valid">
                          Email is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field  >
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="user_role">
                            <mat-option *ngFor="let role of roles" [value]="role.value">
                                {{role.name}}
                            </mat-option>
                        </mat-select>
                        <!-- <input matInput placeholder="Role" type="text" formControlName="role"> -->
                        <mat-error *ngIf="!adduserForm.controls['user_role'].valid">
                          Role is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field  >
                        <mat-label>Area Of Intrest</mat-label>
                        <mat-select formControlName="geom" >
                            <mat-option *ngFor="let role of aoiData" (click)="slectedAoi(role.name)" [value]="role.value">
                                {{role.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!adduserForm.controls['geom'].valid">
                          Area of intrest is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field  >
                        <input matInput (keyup)="validatePassword()" placeholder="Password" type="password" formControlName="password">
                        <mat-error *ngIf="!adduserForm.controls['password'].valid">
                          Password is required
                        </mat-error>
                        
                    </mat-form-field>
                    <mat-error *ngIf="!passwordValidate && adduserForm.controls['password'].valid">
                        Password should contain atleast one number and one special character
                    </mat-error>

                    <br>
                    <button mat-raised-button type="submit" [disabled]="!adduserForm.valid || !passwordValidate" class="button">Add</button>
                </form>
            
        </mat-card>
        
      </div>
</div>

<div *ngIf="userDetailhide" id="all_user">
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <div>
        <mat-card fxFlex="100" style="overflow: scroll;">
        <ul>
            <li *ngFor="let data of userData" >
                User Name :{{data.first_name}} {{data.last_name}}
                <span>Email: {{data.user_email}}</span>
                <span class="delete-btn">
                    <button mat-icon-button (click)="deleteUser(data.user_id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </li>
        </ul>
    </mat-card>
    </div>
    </div>
</div>

<div *ngIf="userCreated"  id="user_added" >
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">
            <mat-toolbar class="Heading" fxLayoutAlign="center center">User created succesfully!</mat-toolbar>
            <div>
                <p>User Email : {{userEmail}}</p>
                <p>Password : {{userPassword}}</p>
            </div>
        </mat-card>
    </div>
</div>


<div *ngIf="home_settings" id="home_settings" >
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">
            <mat-toolbar class="Heading" fxLayoutAlign="center center">Home Settings</mat-toolbar>
            <form [formGroup]="imageForm"  fxLayoutAlign="stretch" fxLayout="column"   class="Login-form">
                
                <label for="">Background Image </label>
                <input (change)="onFileSelected($event)" #fileInput type="file" id="file">
            
                <label for="">Logo</label>
                <input (change)="onLogoSelected($event)" #logoInput type="file" id="logo">
                <br>
                <button mat-raised-button type="button" (click)="saveLogo()" style="background-color: #7ab8ee;" class="button">Save</button>
            </form>
        </mat-card>
    </div>
</div>

